@media (max-width: 1200px) {
    .artifacts__wrap {
        flex-direction: column;
    }

    .artifacts__img {
        width: 100%;
        max-width: 100%;
    }

    .artifacts__title {
        font-size: 30px;
        margin-bottom: 12px;
    }

    .artifacts__text {
        font-size: 21px;
        line-height: 25px;
    }
}

@media (max-width: 768px) {
    
    /* Header */
    .header__inner {
        flex-wrap: wrap;
    }

    .header__nav {
        padding-top: 20px;
        order: 3;
        width: 100%;
        overflow-x: scroll;
    }

    .header__nav::-webkit-scrollbar {
        display: none;
    }

    /* Hero */
    .hero-section {
        padding: 60px 0;
    }

    .hero__title {
        font-size: 52px;
    }

    .hero__text {
        max-width: 550px;
    }

    /* Help */
    .help__text {
        max-width: 675px;
    }
}

@media (max-width: 520px) {
    .section__title {
        font-size: 46px;
    }
    
    .hero__title {
        font-size: 48px;
        margin-bottom: 30px;
        line-height: 48px;
    }

    .hero__text {
        display: none;
    }

    /* Artifacts */
    .artifacts__title {
        font-size: 28px;
        margin-bottom: 16px;
    }

    .artifacts__text {
        font-size: 18px;
        line-height: 22px;
    }

    /* Help */
    .section__title {
        font-size: 41px;
    }

    .help__heading {
        margin-bottom: 20px;
    }

    .help__text {
        display: none;
    }
}