:root {
    --dark-color: #1D2F30;
    --white-color: #fff;
    --hover-color: #BAE249;
    --focus-color: #83A440;
    --active-color: #688B05;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
}

.section__offset {
    padding: 60px 0;
}

.section__title {
    font-family: "Cormorant", sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 48px;
    color: var(--white-color);
}

.header {
    background-color: var(--dark-color);
    padding: 17px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 64px;
}

.header__link {
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color);
    transition: color .3s ease-in-out;
}

.header__link:hover {
    color: var(--hover-color);
}

.header__link:focus {
    outline: 1px solid var(--focus-color);
    outline-offset: 3px 7px;
}

.header__link:active {
    color: var(--active-color);
}

.header__btns {
    display: flex;
    gap: 64px;
}

.header__btn:hover svg path {
    stroke: #91AC46;
    transition: stroke 0.3s ease-in-out;
}

.header__btn:focus svg {
    outline: 1px solid #83A440;
    outline-offset: 3px 5px;
}

/* Hero */
.hero-section {
    padding: 115px 0;
    background-image: url("../img/hero/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    font-family: "Cormorant", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    width: 100%;
    max-width: 688px;
    color: var(--white-color);
}

.hero__text {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    max-width: 635px;
    color: var(--white-color);
}

.hero__link {
    color: #BAE249;
    font-size: 16px;
    font-weight: 700;
    transition: color .3s ease-in-out;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.hero__link:hover {
    color: #91AC46;
}

.hero__link svg path {
    transition: fill .3s ease-in-out;
}

.hero__link:hover svg path {
    fill: #91AC46;
}

.hero__link:focus {
    outline: 1px solid #83A440;
    outline-offset: 5px;
}

.hero__link:active {
    color: #688B05;
}

.hero__link:active svg path {
    fill: #688B05;
}

/* Elements */
.elements-section {
    background-color: #1D2F30;
}

.elements__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.elements__item {
    flex-basis: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.elements__top {
    padding: 30px 16px;
    background-color: #0B1919;  
}

.elements__bottom {
    border: 1px solid #0B1919;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.elements__title {
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--white-color);
}

.elements__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #899D9D;
    padding-top: 8px;
    padding-bottom: 16px;   
}

.elements__btn {
    font-size: 16px;
    font-weight: 400;
    color: #BAE249;
    padding: 11px 29px;
    border: 1px solid #BAE249;
    transition: color, background-color .3s ease-in-out;
    margin-top: auto;
    width: fit-content;
}

.elements__btn:hover {
    background-color: #BAE249;
    color: #0B1919;
}

.elements__btn:focus {
    outline: 1px solid #83A440;
    outline-offset: 3px;
}

.elements__btn:active {
    background-color: #688B05;
    color: #0B1919;
}

/* Artifacts */
.artifacts-section {
    background-color: var(--dark-color);
}

.artifacts__heading {
    margin-bottom: 30px;
}

.artifacts__wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.artifacts__img {
    width: 100%;
    max-width: 825px;
}

.artifacts__right {
    background-color: var(--hover-color);
    padding: 24px 16px;
}

.artifacts__title {
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: var(--dark-color);
    margin-bottom: 8px;
}

.artifacts__text {
    color: #506829;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.artifacts__text-1 {
    margin-bottom: 32px;
}

.artifacts__text-2 {
    margin-bottom: 75px;
}

.artifacts__link {
    color: #0B1919;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    transition: color .3s ease-in-out;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.artifacts__link:hover {
    color: #688B05;
}

.artifacts__link svg path {
    transition: fill .3s ease-in-out;
}

.artifacts__link:hover svg path {
    fill: #688B05;
}

.artifacts__link:focus {
    outline: 1px solid #0B1919;
    outline-offset: 5px;
}

.artifacts__link:active {
    color: #0B1919;
}

.artifacts__link:active svg path {
    fill: #0B1919;
}